<%- include("partials/header") %>
<div class="card">
		<div class="card-header">
		    <%=camp.name%>
		</div>

		<div class="card-body">
			<div class="card-text">
				<%- camp.description%>
		    </div>
			<a class="btn btn-outline-secondary" role="button" href="<%=url%>#<%=camp.id%>">Back</a>
		</div>


		<% if (camp.comments.length !== 0) {%>
		<div class="card">
			<div class="card-header">
			Comments:
		  	</div>
			<%camp.comments.forEach(function (comment){%>
				<ul class="list-group list-group-flush">
				
					<li class="list-group-item">
						<div class="font-weight-light"><%= comment.text%></div>
						<div class="font-italic"><%= comment.author%></div>
					</li>
				</ul>
			<%})%>
		</div>
		<%}%>

		<a  href="<%=url%>#<%=camp.id%>">
				<img class="card-img-bottom img-fluid text-center"  src="<%=camp.image%>"  alt="<%=camp.name%>">
			</a>
		
		
</div>
	<%- include("partials/footer") %>