<%- include("partials/header") %>
<div class="card">
		<div class="card-header"><%=picture.name%></div>

		<div class="card-body">
			<div class="card-text"><%- picture.description%></div>
			<a class="btn btn-outline-secondary" role="button" href="<%=url%>#<%=picture.id%>">Back</a>
		</div>
	
		<a class="card-img-top text-center" href="<%=url%>#<%=picture.id%>"><img  src="<%=picture.image%>"  alt="<%=picture.name%>"></a>

</div>
	<%- include("partials/footer") %>