<%- include("partials/header") %>
<div class="container">
<header class="jumbotron" style="padding:0.1rem 0 0.1rem 0">
    <div class="container text-center">
        <h1>List</h1>
        <p><%= title %></p>
    </div>
</header>
   <hr>
<div class="row d-flex justify-content-around">
     <%pictures.forEach(function (picture){%>
        <div class="col-md-3 col-sm-6 img-thumbnail text-center mt-1" >  
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#id<%=picture.id%>"> 
                <img  src="<%=picture.image%>" class="img-fluid" alt="<%=picture.name%>">
            </button>
                <div class="name"><%=picture.name%></div>
                <div class="figure-caption">
                    <div class="description"><%=picture.description%></div>
                    <a class="btn btn-outline-info" role="button" href="<%=url+"/"+picture.id%>">Info</a>
                </div>
        </div>
        <div id="id<%=picture.id%>" class="modal fade" role="dialog" aria-labelledby="<%=picture.name%>" aria-hidden="true">
            <div class="modal-dialog text-center modal-xl modal-dialog-centered">
                    <div class="modal-content d-inline-block bg-transparent border-0 hei" data-dismiss="modal">
                        <img class="img-fluid" src="<%=picture.image%>" alt="<%=picture.name%>">
                    </div>
            </div>
        </div>
  <%});%>
</div>
<hr> 
<%- include("partials/footer") %>
