<%- include('./partials/header.ejs') %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <% blogs.forEach(function (blog){%>
  <div>
    <h2><%= blog.title%></h2>
   
    <img src="<%=blog.image%>" alt="<%=blog.image%>" >
  <div><%= blog.body%></div>
  <span><%= blog.created%></span>
  </div>

  <% }) %>
  <%- include("./partials/footer.ejs") %>
