<%- include('./partials/header.ejs') %>
<div class="ui main text container ">
    <% blogs.forEach(function (blog){ %>
        <div class="ui text segment">
            <h2><%= blog.title %></h2>
            <div class="ui segment">
                <img src="<%= blog.image %>" alt="<%= blog.image %>" class="ui medium image left floated image">
                <div><%= blog.body.slice(0, 400) %>
                    <a href="/blogs/<%= blog._id %>">
                        <div class="ui animated mini button" tabindex="0">
                            <div class="visible content"> ...
                            </div>
                            <div class="hidden content">
                                &#8594;
                            </div>
                        </div>
                    </a></div>
            </div>
            <span><%= blog.created %></span>
        </div>
    <% }) %>
</div>

<%- include("./partials/footer.ejs") %>
