<%- include('./partials/header.ejs') %>


<div class="ui main text container segment">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <% blogs.forEach(function (blog){ %>
        <div>
            <h2><%= blog.title %></h2>
            <img src="<%= blog.image %>" alt="<%= blog.image %>">
            <div><%= blog.body %></div>
            <span><%= blog.created %></span>
            <hr>
        </div>
    <% }) %>
</div>
<%- include("./partials/footer.ejs") %>
