<%- include('./partials/header.ejs') %>
<hr>
<hr>
<hr>
<hr>
<div class="ui main text container segment">
    <h2><%= title %></h2>
    <div class="segment">
        <img src="<%= image %>" alt="<%= image %>" class="ui rounded centered image">
        <hr>
        <div><%- body %></div>
        <hr>
        <span><%= created.toUTCString(); %></span>
        <a href="/">
            <div class="ui animated right floated right button" tabindex="0">
                <div class="visible content">Back</div>
                <div class="hidden content">
                    &#8592;
                </div>
            </div>
        </a>
    </div>
</div>
</div>
<%- include("./partials/footer.ejs") %>